{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "debug": false,
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    ["@babel/preset-typescript", {}]
  ]
}
